<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Phonebook</title>
    </head>

    <body>
        <h1>Phonebook</h1>

        <p><a href='/myapp/patronmanager/'>Create account or log in</a></p>
        or if you are already logged in, you can also
        <p><a href='/myapp/logoutForm/'>Log out</a></p>

        <ul>

        <h2>Users:</h2>
            {% for patron in patrons %}
            <!-- {{ book.get_absolute_url }} -->
            <li><a href='/myapp/patrons/{{patron.username}}/'>{{patron.username}}</a></li>
		    {% endfor %}
        </ul>

    </body>
</html>
